# Lists

In [73]:
x = 3

In [ ]:
y = [1,2,5,4,8,9]

In [ ]:
fruits = ['banana',]

In [5]:
random = [27,45,12,89,33,99]
random.reverse

In [6]:
b = random
b

[27, 45, 12, 89, 33, 99]

In [7]:
random.append(120)

In [8]:
b

[27, 45, 12, 89, 33, 99, 120]

In [9]:
b.append('new')   #pass by refrence
random

[27, 45, 12, 89, 33, 99, 120, 'new']

In [10]:
c = random.copy()

In [11]:
c

[27, 45, 12, 89, 33, 99, 120, 'new']

In [12]:
c.append(131)

In [13]:
c

[27, 45, 12, 89, 33, 99, 120, 'new', 131]

In [24]:
random

[27, 45, 12, 89, 33]

In [21]:
poppedElement = random.pop()

In [22]:
random

[27, 45, 12, 89, 33]

In [23]:
poppedElement

99

In [38]:
newlist = []

In [45]:
random = [27,45,12,89,33,99]

In [50]:
newlist.append(random.pop())

In [51]:
newlist

[99, 99, 99, 33, 89]

In [53]:
newlist.pop(2)

99

In [55]:
newlist.pop(3)

89

# Slicing

In [58]:
alist =  [2,1,3,2,1,5,4,8,4,6]
#index = [0,1,2,3,4,5,6,7,8,9]

In [59]:
alist[2:5]

[3, 2, 1]

In [60]:
alist[2:]

[3, 2, 1, 5, 4, 8, 4]

In [61]:
alist[:2]

[2, 1]

In [62]:
alist[5:3]

[]

In [63]:
students = ['asad','fahad','kami','hasan','saad','faisal']
#index   = [-6        -5    -4       -3      -2     -1   ]

In [64]:
students[-1]

'faisal'

In [65]:
students[-3:]

['hasan', 'saad', 'faisal']

In [67]:
students  [-5:-2]

['fahad', 'kami', 'hasan']

In [68]:
students

['asad', 'fahad', 'kami', 'hasan', 'saad', 'faisal']

In [72]:
students[-5:0]

[]

# Tuples

In [74]:
a = (1,2,3,4,5,6)  #tuple values does not change

In [75]:
a

(1, 2, 3, 4, 5, 6)

In [77]:
a[3] = 21

TypeError: 'tuple' object does not support item assignment

In [84]:
a = 1,2,3  #packing

In [85]:
a

(1, 2, 3)

In [87]:
x,y,z = a  #unpacking

In [88]:
x

1

In [89]:
y

2

In [90]:
z

3

List in list tuple in list etc etc

In [96]:
listInList = [1,2,3, ['apple','banana','orange',[22,33,44]]]

In [92]:
listInList[3]

['apple', 'banana', 'orange']

In [93]:
listInList[3][0]

'apple'

In [94]:
listInList[3][0] = 'eggs'

In [95]:
listInList

[1, 2, 3, ['eggs', 'banana', 'orange']]

In [97]:
listInList[3][3][0]

22

In [115]:
alist = [1,2,3,4,['a','b','c']]

In [116]:
alist[4].insert(0,'d')

In [117]:
alist

[1, 2, 3, 4, ['d', 'a', 'b', 'c']]

In [119]:
alist[4].remove('d')

In [120]:
alist

[1, 2, 3, 4, ['a', 'b', 'c']]